* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #f8f8f8;
}

input.holder::-webkit-input-placeholder {
  color: rgba(37, 67, 83, 0.4);
}

#nav li {
  margin: 30px 40px 30px 0px;
  display: inline-block;
  background-color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  color: #757373;
}
